.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
}

.profile-img{
    text-align: center;
}

.profile-img img{
    width: 70%;
    height: 100%;
}

.profile-head h5{
    color: #333;
}

.profile-head h6{
    color: #0062cc;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 80%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.my-icon{
  width: 40px;
  margin: 0px 2px 2px 2px;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.my-form .form-control{
  cursor: pointer;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

#change-image{
  display: none;
}

.card{
  background-color: #f6f6f6;
}

#image-div{
  z-index: 1;
}

.button-div{
  z-index: 2;
}

.profile-save-btn{
  border: none;
  border-radius: 1.5rem;
  width: 100%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
  background-color: #ececec;
  padding: 5px 10px 5px 10px;
}

.profile-save-btn:hover{
  color: #6c757d;
  background-color: #e2e2e2;
}
